<!DOCTYPE html>
<html>

<body>
	<h1>Add New Category</h1>

	<form action="/admin/category/add" method="post" th:object="${category}">
		<div>
			<label for="name">Name:</label>
			<input type="text" th:field="*{name}" />
		</div>

		<div>
			<label for="name">Description:</label>
			<input type="text" th:field="*{description}" />
		</div>

		<div>
			<input type="file" value="image" />
		</div>
		
		<div>
			<input type="submit" value="Create" />
		</div>
		
	</form>

	<div th:if="${error.hasError}" th:text="${error.msg}" style="color: red"></div>

</body>

</html>