<!DOCTYPE html>
<html>

<body>
	<h1>Add New Product</h1>

	<form action="/admin/product/add" method="post" th:object="${product}">
		<div>
			<label for="name">Name:</label>
			<input type="text" th:field="*{name}" />
		</div>

		<div>
			<label for="name">Description:</label>
			<input type="text" th:field="*{description}" />
		</div>

		<div>
			<label for="name">Category:</label>
			<select th:field="*{category}">
				<option th:each="category: ${productCategories}" th:text="${category.name}" th:value="${category.id}"></option>
			</select>
		</div>

		<div>
			<label for="name">UOM:</label>
			<input type="text" th:field="*{unit}" />
		</div>

		<div>
			<label for="name">Price:</label>
			<input type="number" th:field="*{price}" />
		</div>

		<div>
			<input type="file" value="image" />
		</div>

		<div>
			<input type="submit" value="Create" />
		</div>

	</form>

	<div th:if="${error.hasError}" th:text="${error.msg}" style="color: red"></div>

</body>

</html>