<!DOCTYPE html>
<html>
	<body>
		<h1>Todo List</h1>
		
		<div style="display: flex; flex-direction: row; justify-content: space-around;">
			<div>
				<div th:each="todo : ${todos}" style="border: 1px solid black;">
					<div style="display: flex; flex-direction: column;">
						<span th:text="${todo.task}"></span>
						<span th:text="${todo.description}"></span>
						<span th:text="${todo.createdAt}"></span>
					</div>
					 <a th:href="@{/todo/delete/{id}(id=${todo.id})}"><button>X</button></a>
					 <a th:href="@{/todo/update/{id}(id=${todo.id})}"><button>Edit</button></a>
				</div>
			</div>
			<div>
				<form th:action="${toCreate} ? @{/todo/new} : @{/todo/update/{id}(id=${todo.id})}" method="post" th:object="${todo}">
					<label for="task">Task</label>
					<input type="text" th:field="*{task}" />
					<label for="description">Description</label>
					<input type="text" th:field="*{description}"/>
					<input type="submit" th:value="${toCreate} ? 'Add Task' : 'Update Task'" />
				</form>
			</div>
		</div>
		
	</body>
</html>